body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:447px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:930px;
}
#u2666 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:60px;
  width:387px;
  height:930px;
}
#u2667 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:457px;
  width:383px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:728px;
}
#u2668 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:160px;
  width:346px;
  height:728px;
}
#u2669 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:356px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
