body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2680px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1085_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2680px;
  height:2970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1085 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2680px;
  height:2970px;
}
#u1086 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1477px;
  width:2676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1087_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:780px;
}
#u1087 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:60px;
  width:387px;
  height:780px;
}
#u1088 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:382px;
  width:383px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1089 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1090_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1090 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:145px;
  width:343px;
  height:15px;
}
#u1091 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:15px;
}
#u1092 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:145px;
  width:343px;
  height:15px;
}
#u1093 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1094_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1094 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:159px;
  width:343px;
  height:41px;
}
#u1095 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1096_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:25px;
}
#u1096 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:168px;
  width:13px;
  height:25px;
}
#u1097 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
